*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

#root{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;

    background: #64bfad;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #978640, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}